
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/
*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #131a2f;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 400;
	color: #131a2f;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(254, 60, 82, 0.8);
	color: #FFFFFF;
}
p::selection
{

}
h1{font-size: 48px;}
h2{font-size: 40px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.nopadding
{
	padding: 0px !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}

/*********************************
3. Home
*********************************/
.home
{
	width: 100%;
	height: 100vh;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_content
{
	position: absolute;
	top: 46%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 80%;
	text-align: center;
}
.home_text_large
{
	font-size: 215px;
	font-weight: 900;
	color: #fdaa27;
	opacity: 0.34;
	text-transform: uppercase;
	line-height: 0.75;
}
.home_text_small
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	font-size: 72px;
	font-weight: 400;
	color: #FFFFFF;
	text-shadow: 0px 11px 51px rgba(0,0,0,0.35);
}

/*********************************
4. Header
*********************************/
.header
{
	display: block;
	position: fixed;
	top: 47px;
	width: 100%;
	z-index: 100;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled
{
	top: 15px;
}
.header_container
{
	width: 100%;
	height: 121px;
	background: #131a2f;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .header_container
{
	height: 90px;
}

/*********************************
4.1 Logo
*********************************/
.logo_container
{
	-webkit-transform: translateY(8px);
	-moz-transform: translateY(8px);
	-ms-transform: translateY(8px);
	-o-transform: translateY(8px);
	transform: translateY(8px);
}
.logo
{
	height: 100%;
	padding-left: 72px;
}
.logo div
{
	color: #FFFFFF;
	text-transform: uppercase;
}
.logo div:first-of-type
{
	font-size: 24px;
	font-weight: 500;
	line-height: 0.75;
}
.logo div:nth-child(2)
{
	font-size: 10px;
	font-weight: 500;
	color: #929292;
	letter-spacing: 0.13em;
	margin-top: 2px;
	padding-left: 2px;
}
.logo_image
{
	position: absolute;
	top: -34px;
	left: 41px;
	width: 50px;
	height: 41px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .logo_image
{
	width: 40px;
	top: -28px;
	left: 46px;
}
.logo_image img
{
	max-width: 100%;
}

/*********************************
4.2 Navigation
*********************************/
.main_nav
{
	/*height: 100%;*/
	padding-right: 173px;
}
.main_nav_list
{
	height: 100%;
}
.main_nav_item
{
	display: inline-block;
	position: relative;
	/*padding-left: 22px;
	padding-right: 22px;*/
	margin-right: -4px;
	padding-top: 2px;
}
.main_nav_item.active::after
{
	display: block;
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fe435b;
	content: '';
}
.main_nav_item a
{
	display: block;
	font-size: 15px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 121px;
	padding-left: 22px;
	padding-right: 22px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .main_nav_item a
{
	line-height: 90px;
}
.main_nav_item.active a
{
	color: #fe435b;
}
.main_nav_item:hover a
{
	color: #fe435b;
}

/*********************************
4.3 Search
*********************************/
.search
{
	position: absolute;
	top: 0;
	right: 0;
	width: 121px;
	height: 100%;
	background: #fe435b;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search.active
{
	width: 300px;
}
.search:hover
{
	background: #eb334a;
}
.search_form
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.search_input
{
	display: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 25px;
	height: 36px;
	background: transparent;
	border: solid 2px rgba(255, 255, 255, 0.5);
	color: #FFFFFF;
	outline: none;
	padding-left: 10px;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.search.active .search_input
{
	display: inline-block;
}
.search_button
{
	position: absolute;
	top: 50%;
	right: 49px;
	width: 24px;
	height: 26px;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	pointer-events: none;
}
.search_button img
{
	pointer-events: none;
}
.search_button:focus
{
	outline: none;
}
.search.active .search_button
{
	pointer-events: auto;
}
.search_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255, 255, 255, 0.5) !important;
}
.search_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255, 255, 255, 0.5) !important;
}
.search_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255, 255, 255, 0.5) !important;
}
.search_input:-ms-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255, 255, 255, 0.5) !important;
}
.search_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255, 255, 255, 0.5) !important;
}

/*********************************
4.4 Hamburger
*********************************/
.hamburger
{
	display: none;
	font-size: 24px;
	padding: 10px;
	color: #3a3a3a;
	margin-right: 20px;
	cursor: pointer;
}
.hamburger i
{
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #fe435b;
}

/*********************************
13. Footer
*********************************/
.footer
{
	width: 100%;
	background: #080d1d;
	padding-top: 79px;
	padding-bottom: 79px;
}
.footer_about
{
	width: 100%;
}
.footer .logo
{
	padding-left: 32px;
}
.footer .logo_image
{
	left: 0;
}
.footer_about_text
{
	font-size: 12px;
	font-weight: 300;
	line-height: 2.5;
	color: #7d8293;
	margin-top: 35px;
}
.copyright
{
	font-size: 12px;
	font-weight: 300;
	line-height: 2.5;
	color: #7d8293;
	margin-top: 39px;
}
.footer_latest
{
	width: 100%;
}
.footer_title
{
	font-size: 24px;
	font-weight: 300;
	color: #FFFFFF;
}
.footer_latest_item
{
	margin-bottom: 27px;
}
.footer_latest_item:last-child
{
	margin-bottom: 0;
}
.footer_latest_content
{
	margin-top: 33px;
}
.footer_latest_image
{
	display: inline-block;
	width: 78px;
	height: 78px;
}
.footer_latest_image img
{
	max-width: 100%;
}
.footer_latest_item_content
{
	display: inline-block;
	vertical-align: top;
	margin-top: -4px;
	padding-left: 19px;
}
.footer_latest_item_title a
{
	font-size: 16px;
	font-weight: 300;
	color: #7d8293;
}
.footer_latest_item_title a:hover
{
	color: #fe3c52;
}
.footer_latest_item_date
{
	font-size: 12px;
	font-weight: 300;
	color: #fe3c52;
	margin-top: 10px;
}
.tags_content
{
	margin-top: 32px;
}
.tag
{
	height: 36px;
	background: rgba(254,60,82,1);
	margin-right: 6px;
	margin-bottom: 6px;
}
.tag a
{
	display: block;
	font-size: 12px;
	font-weight: 300;
	padding-left: 27px;
	padding-right: 27px;
	line-height: 36px;
	color: #FFFFFF;
}
.tag:hover
{
	background: rgba(254,60,82,0.8);
}
